* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Arial, Tahoma;
  font-size: 14px;
  padding: 0;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
a:any-link,
a:visited,
a:active {
  color: unset;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
h2:first-child {
  margin-top: 0;
}
ul {
  padding: 0;
  margin: 0;
}
p {
  line-height: 2;
  color: #666;
}
button {
  border: 0;
}
[type="button"] {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: #a4c63b;
}
.text-secondary {
  color: #666;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  color: #fff !important;
  background: #eee;
  font-weight: bold;
  transform: perspective(0) translateZ(0px);
  transition: color 0.3s ease-out;
}
.btn.btn-light {
  border: 1px solid #fff;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scaleY(1);
  background: #a4c63b;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  color: #a4c63b !important;
}
.btn:hover::before {
  transform: scaleY(0);
}
:focus-visible {
  outline: 2px solid #eee;
}
.modal {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111;
  background: rgba(0, 0, 0, 0.8);
  perspective: 1000px;
}
.modal .modal-body {
  height: 100%;
  position: relative;
  padding: 20px 0;
  transition: all 0.5s;
  transform-style: preserve-3d;
  transform-origin: left center;
  backface-visibility: hidden;
  transform: rotateY(-180deg) translateX(-100%);
}
.modal .modal-body.no-effect {
  transform: unset;
}
.modal .modal-header {
  position: absolute;
  top: 20px;
  left: 0;
}
.modal .modal-header .btn {
  border-radius: 0;
  padding: 10px 15px;
}
.modal .modal-header .btn i {
  font-size: 16px;
}
.modal .modal-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content img {
  max-height: 100%;
  max-width: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
nav.top-nav {
  height: 40px;
  color: #fff;
  background: #a4c63b;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
nav.top-nav .container {
  height: 100%;
  display: flex;
  align-items: center;
}
nav.top-nav .container > :nth-child(n + 1) {
  padding: 10px 20px;
  border-right: 1px solid #c8d896;
  height: 100%;
}
nav.top-nav .container > :first-child {
  border-left: 1px solid #c8d896;
}
nav.top-nav .container .social {
  display: flex;
  padding: 0;
  margin-left: auto;
  list-style: none;
}
nav.top-nav .social li {
  padding: 10px 0;
  margin: 0;
  border-left: 1px solid #c8d896;
  transition: all 0.3s ease-in-out;
}
nav.top-nav .social li a {
  padding: 10px 20px;
}
nav.top-nav .social li:hover {
  cursor: Pointer;
  color: #a4c63b;
  background: #fff;
}
header {
  height: 120px;
  padding: 40px 0;
  position: relative;
  color: #eee;
}
header .container {
  display: flex;
  align-items: center;
}
header .brand {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
header.fixed {
  width: 100%;
  height: 100px;
  padding: 30px 0;
  position: fixed;
  top: 0;
  z-index: 3;
  color: #343434;
  background: #f0f0e0;
}
header.fixed .brand {
  color: #a4c63b;
}
nav.navbar {
  margin-left: auto;
  font-size: 16px;
}
.navbar-toggle {
  display: none;
}
nav.navbar ul {
  list-style: none;
  display: flex;
}
nav.navbar ul li a {
  display: inline-block;
  padding: 10px 20px;
  transform: perspective(0) translateZ(0);
  transition: all 0.3s ease-out;
}
nav.navbar ul li:hover a {
  color: #a4c63b;
  transform: translateY(-8px);
}
.carousel {
  position: relative;
  padding: 0 20px;
}
.carousel .carousel-control a {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 30px;
  color: #a4c63b;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.carousel .carousel-control .next {
  left: unset;
  right: 0;
}
.carousel .carousel-control a:hover {
  opacity: 1;
}
.img-fill {
  height: 100%;
  width: 100%;
  position: relative;
}
.img-fill::after {
  content: "";
  height: calc(100% - -120px);
  width: 100%;
  position: absolute;
  top: -120px;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}
.img-fill .item {
  height: 100%;
  width: 50%;
  margin-top: auto;
  padding-top: 100px;
  padding-bottom: 180px;
  padding-left: 50px;
  color: #fff;
  font-weight: bold;
}
.img-fill .item::before {
  content: "";
  height: calc(100% - -120px);
  width: 100%;
  position: absolute;
  top: -120px;
  left: 0;
  z-index: -1;
  background-image: url("../images/analytics.jpg");
  background-size: cover;
}
#page-banner.img-fill::after {
  background-color: rgba(0, 0, 0, 0.8);
}
#page-banner.img-fill .item {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 150px;
  padding-left: 0;
}
#page-banner.img-fill .item::before {
  background-image: url("../images/about-us.jpg");
}
.img-fill .desc {
  font-size: 20px;
  color: #a4c63b;
}
.img-fill p {
  margin-bottom: 20px;
  font-weight: normal;
  text-align: justify;
  color: #eee;
}
.img-fill .carousel-control a {
  top: calc(50% - 100px);
  left: 3%;
  transform: translateY(0);
  opacity: 0.3;
  font-size: 40px;
  color: #eee;
}
.img-fill .carousel-control .next {
  left: unset;
  right: 3%;
}

#call-back {
  padding: 20px 0;
  color: #fff;
  background: #a4c63b;
}
#call-back .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#services {
  padding: 60px 0;
}
#services .items {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 20px;
  display: flex;
}
#services .card {
  width: 33.33%;
  padding: 15px;
}
#services .card .card-img {
  height: 200px;
  position: relative;
  overflow: hidden;
}
#services .card .card-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
#services .card .card-img::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #000;
  opacity: 0;
  transition: opacity 0.3s;
}
#services .card .card-img:hover::before {
  opacity: 0.5;
}
#services .card .card-img:hover img {
  transform: scale(1.2) rotateZ(-6deg);
}
#services .card .card-img .buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#services .card .card-img .buttons [type="button"] {
  height: 35px;
  width: 35px;
  padding: 10px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  font-size: 15px;
  line-height: 0;
  text-align: center;
  background: #c8d896;
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#services .card .card-img [type="button"]:hover {
  background: #a4c63b;
}
#services .card .card-img .buttons [type="button"]:first-child {
  top: -150px;
}
#services .card .card-img [type="button"]:last-child {
  bottom: -150px;
}
#services .card .card-img:hover .buttons [type="button"]:first-child {
  top: 0;
}
#services .card .card-img:hover .buttons [type="button"]:last-child {
  bottom: 0;
}
#services .card .card-content {
  padding: 20px;
  background: #f7f7f7;
}
#solutions {
  position: relative;
  z-index: 0;
  padding: 100px 0;
  color: #fff;
  background-image: url("../images/solutions.jpg");
  background-size: cover;
  background-position: center bottom;
}
#solutions::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(33, 33, 33, 0.95);
}
#solutions .container {
  display: flex;
}
#solutions .container > div {
  width: 50%;
  flex-basis: 50%;
}
#solutions .container > div:first-child {
  padding-right: 60px;
}
#solutions p {
  color: #eee;
}
#solutions .items {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#solutions .items .item {
  width: 50%;
  flex-basis: 50%;
  padding: 30px 40px;
  border: 10px solid transparent;
  background-color: rgba(250, 250, 250, 0.1);
  background-clip: padding-box;
}
#solutions .items .item span {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}
#solutions .items .item :first-child {
  font-size: 40px;
  color: #a4c63b;
}
#about-us {
  padding: 100px 0;
}
#about-us .container {
  display: flex;
  flex-wrap: wrap;
}
#about-us .container div:first-child {
  flex-basis: 45%;
}
#about-us .container div:last-child {
  flex-basis: 55%;
  padding: 40px;
  background: #f7f7f7;
}
#about-us img {
  max-width: 100%;
  height: 100%;
}
#testimonials {
  background: #f7f7f7;
  padding: 100px 0;
}
#testimonials .clients {
  display: flex;
  flex-wrap: wrap;
  justify-self: stretch;
  margin-top: 60px;
}
#testimonials .clients .client {
  flex-basis: 50%;
  text-align: center;
}
#testimonials .clients .client:nth-child(odd) {
  border-right: 10px solid transparent;
}
#testimonials .clients .client:nth-child(even) {
  border-left: 10px solid transparent;
}
#testimonials .clients .client .inner-content {
  padding: 20px;
  background: #fff;
}
#testimonials .clients .client img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 20px;
}
.clients + .carousel-control a {
  top: 100px;
}
#contact-us {
  padding: 100px 0;
}
#contact-us form {
  margin-top: 60px;
  padding: 40px;
  background: #a4c63b;
}
#contact-us form .field {
  padding: 0 20px;
}
form .group {
  display: flex;
}
form .group .field {
  flex-basis: 33.33%;
}

form .field input,
form .field textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 0;
  resize: vertical;
  line-height: 20px;
}
form .field input {
  height: 40px;
  padding: 0 10px;
}
#partners {
  padding: 60px 0 40px;
  background: #f7f7f7;
}
#partners .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#partners .item {
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
  text-align: center;
}
#partners .item img {
  max-width: 100%;
}
footer {
  padding: 60px 0;
  color: #fff;
  background: #232323;
}
footer .items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
footer .items p {
  color: #eee;
}
footer .items .item {
  width: 25%;
  flex-basis: 25%;
  padding: 0 15px;
}
footer .items .item .social {
  list-style-type: none;
  display: flex;
}
footer .items .item .social li {
  padding: 0 5px;
}
footer .items .item .social li a {
  display: block;
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  color: #232323;
  background: #a4c63b;
  position: relative;
  overflow: hidden;
  transform: perspective(0) translateZ(0);
  transition: color 0.4s;
}
footer .items .item .social li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 50%;
  background: #fff;
  transform: scale(2);
  transition: transform 0.4s ease-out;
}
footer .items .item .social li a:hover::after {
  transform: scale(0);
}
footer .items .item .social li a:hover {
  color: #fff;
}
footer a {
  display: block;
  padding: 10px 0;
}
footer .items .item form {
  padding-top: 10px;
}
footer .items .item form input,
footer .items .item form textarea {
  color: #aaa;
  background: #343434;
}
.sub-footer {
  padding: 30px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #fff;
  background: #343434;
}
footer a,
.sub-footer a {
  transition: color 0.3s;
}
footer a:hover,
.sub-footer a:hover {
  color: #a4c63b;
}
#top {
  height: 40px;
  width: 40px;
  display: none;
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 999;
  overflow: hidden;
  padding: 0;
  border: 0;
  background: #a4c63b;
}
#top .fas {
  font-size: 16px;
  color: #343434;
  position: relative;
  transition: all 0.3s;
}
#top::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: -1;
  background: #343434;
  transition: top 0.3s 0.1s ease-in;
}
#top:hover .fas {
  color: #fff;
  animation: move 0.3s ease-out;
}
#top:hover::after {
  top: 0;
}
@keyframes move {
  0% {
    color: #343434;
    top: 0;
  }
  40% {
    top: 40%;
  }
  90% {
    color: #343434;
  }
  100% {
    color: #fff;
    top: 0%;
  }
}

/* Style Css to pages */
.page .content {
  padding: 100px 0;
}
#tabs {
  display: flex;
}
#tabs .tab-content {
  width: 66.66%;
  padding-left: 60px;
}
#tabs .tab-content article {
  display: block;
}
#tabs .tab-content img {
  max-width: 100%;
}
#tabs .tab-list {
  list-style-type: none;
  width: 33.33%;
}
#tabs .tab-list li {
  height: 60px;
  width: 100%;
  padding: 40px 20px;
  margin-bottom: 20px;
  background: #a4c63b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
#tabs .tab-list li h2 {
  margin: 0;
}
#tabs .tab-list li .fas {
  font-size: 16px;
  transition: font-size 0.3s;
}
#tabs .tab-list li:hover,
#tabs .tab-list li[aria-selected="true"] {
  color: #fff;
  background: #343434d3;
}
#tabs .tab-list li[aria-selected="true"] {
  background: #343434;
}
#tabs .tab-list li:hover .fas {
  animation: hvr-icon-float 0.3s ease-in,
    hvr-icon-bob 1s ease-in-out 0.3s infinite;
}
#tabs .tab-list li[aria-selected="true"] .fas {
  font-size: 26px;
  animation-play-state: paused;
}
@keyframes hvr-icon-float {
  100% {
    transform: translateX(-6px);
  }
}
@keyframes hvr-icon-bob {
  0% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(-6px);
  }
}
.page .content#contact-us .contact-info {
  display: flex;
  margin-right: -20px;
  margin-bottom: 60px;
}
.page .content#contact-us .contact-info .item {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  padding: 60px 20px;
  text-align: center;
  background: #f7f7f7;
}
.page .content#contact-us .contact-info .item a {
  color: #a4c63b;
  font-weight: bold;
  font-size: 16px;
}
